<%= form_with(model: registration) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :nickname, class: "form-label" %>
    <%= form.text_field :nickname, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :tel, class: "form-label" %>
    <%= form.text_field :tel, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :year, class: "form-label" %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :university, class: "form-label" %>
    <%= form.text_field :university, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :group, class: "form-label" %>
    <%= form.text_field :group, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :room_number, class: "form-label" %>
    <%= form.text_field :room_number, class: "form-control" %>
  </div>



  <div class="form-group">
    <%= form.fields_for :schedule, include_id: false do |schedule_form| %>
      <div class="form-check">
        <%= schedule_form.label :monday, class: "form-check-label" %>
        <%= schedule_form.check_box :monday, class: "form-check-input" %>
      </div>

      <div class="form-check">
        <%= schedule_form.label :tuesday, class: "form-check-label" %>
        <%= schedule_form.check_box :tuesday, class: "form-check-input" %>
      </div>

      <div class="form-check">
        <%= schedule_form.label :wednesday, class: "form-check-label" %>
        <%= schedule_form.check_box :wednesday, class: "form-check-input" %>
      </div>

      <div class="form-check">
        <%= schedule_form.label :thursday, class: "form-check-label" %>
        <%= schedule_form.check_box :thursday, class: "form-check-input" %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :other, class: "form-label" %>
    <%= form.text_area :other, class: "form-control" %>
  </div>
  
  <div class="form-check">
    <%= form.label :eula, class: "form-check-label" %>
    <%= form.check_box :eula, class: "form-check-input" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
