
<p>
  <strong><%= t :name %>:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong><%= t :nickname%>:</strong>
  <%= @registration.nickname %>
</p>

<p>
  <strong><%= t :tel %>:</strong>
  <%= @registration.tel %>
</p>

<p>
  <strong><%= t :year %>:</strong>
  <%= @registration.year %>
</p>

<p>
  <strong><%= t :university %>:</strong>
  <%= t(@registration.university, default: @registration.university) %>
</p>

<p>
  <strong><%= t :group %>:</strong>
  <%= t(@registration.group, default: @registration.group) %>
</p>

<p>
  <strong><%= t :room_number %>:</strong>
  <%= @registration.room_number %>
</p>

<p>
  <strong><%= t :schedule %>:</strong>
  <%= @registration.schedule&.accepted_days&.map{|d| t(d, default: d)}&.join ", " %>
</p>

<p>
  <strong><%= t :other %>:</strong>
  <%= @registration.other %>
</p>

<p>
  <strong><%= t :eula %>:</strong>
  <%= @registration.eula %>
</p>

<%= link_to t('Edit'), edit_registration_path(@registration) %> |
<%= link_to t('Back'), registrations_path %>
